@model L02P02_2022_EA_650_2022_RC_652.Models.clientes

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inicio de Venta - Registro de Cliente</title>
    <link rel="stylesheet" href="~/content/style.css" />
</head>
<body>
    <div class="container">
        <h2>Registro de Cliente</h2>
        @using (Html.BeginForm("InicioVenta", "libro", FormMethod.Post, new { id = "clienteForm" }))
        {
            <div>
                @Html.LabelFor(m => m.nombre)
                @Html.EditorFor(m => m.nombre)
                @Html.ValidationMessageFor(m => m.nombre)
            </div>
            <div>
                @Html.LabelFor(m => m.apellido)
                @Html.EditorFor(m => m.apellido)
                @Html.ValidationMessageFor(m => m.apellido)
            </div>
            <div>
                @Html.LabelFor(m => m.email)
                @Html.EditorFor(m => m.email)
                @Html.ValidationMessageFor(m => m.email)
            </div>
            <div>
                @Html.LabelFor(m => m.direccion)
                @Html.EditorFor(m => m.direccion)
                @Html.ValidationMessageFor(m => m.direccion)
            </div>
            
            <input type="hidden" name="created_at" value="@DateTime.Now" />
           
            <a href="javascript:void(0)" class="btn btn-primary" onclick="document.getElementById('clienteForm').submit();">
                Iniciar Venta
            </a>
        }
    </div>
</body>
</html>
